@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #7e38af);
    background: linear-gradient(to right, #a044ff, #7a36aa);
}

.logo {
    text-align: center;
    padding: 10px;
    margin-bottom: 150px;
}

.logo h1 {
    color: #FFF;
    cursor: default;
    text-shadow: 2px 2px 2px #333;
}

.box-input {
    display: flex;
    justify-content: center;
}

.inputs {
    margin: 0 10px;
}

.inputs input {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
}

.btnSend {
    margin: 0 20px;
}

.btnSend button {
    width: 100px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(0, 0, 0, 0.4);
    color: #FFF;
    cursor: pointer;
}

.btnSend button:active {
    background-color: rgb(0, 0, 0, 0.6);
}

.container-box {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    padding: 40px;
    width: 60%;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.box {
    width: 300px;
    height: 300px;
    background-color: red;
}

.copyBorder {
    display: none;
}

.copyBorder.copy {
    display: flex;
    justify-content: center;
}

.copyBorder input {
    outline: none;
    border: none;
    margin-right: 20px;
    padding: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.copyBorder input::after {
    color: red;
}

.copyBorder button {
    outline: none;
    border: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

